---
import Layout from "@layouts/Layout.astro";
import { wpquery } from "@api/wpquery";
import Button from "@components/Button.astro";
import NewsHome from "@components/NewsHome.vue";
import GeographicalStrategy from "@components/GeographicalStrategy.vue";
import { Image } from "astro:assets";
import thumbnailVideo from "@assets/images/video-thumbnail-home.png";

const data = await wpquery({
	query: `
			{
				page(id: "8", idType: DATABASE_ID) {
					templateHomepage {
						homepageHeroImage {
							node {
							sourceUrl
							}
						}
						homepageHeroTitle
						homepageHeroDescription
						homepageHeroLink {
							url
							title
						}
						homepageNews {
							edges {
								node {
									date
									uri
									... on Post {
										featuredImage {
											node {
											sourceUrl
											}
										}
										title
									}
								}
							}
						}
						homepageJeemTitle
						homepageJeemLink {
							title
							url
							target
						}
						homepagePositionTitle
      					homepagePositionText
						homepagePositionMissions {
							homepagePositionMissionsTitle
							homepagePositionMissionsLink {
								url
							}
							homepagePositionMissionsIcon {
								node {
									sourceUrl
								}
							}
						}
						homepagePositionImage {
							node {
								sourceUrl
							}
						}
						homepageCities {
							homepageCity
						}
						homepageAccompaniementDescription
						homepageAccompaniementTitle
						homepageAccompaniementLink {
							url
							title
						}
						homepageAccompaniementImage {
							node {
							sourceUrl
							}
						}
					}
				}
			}
		`,
});

const homepageData = data.page.templateHomepage;

// console.log(homepageData.homepageNews.edges[0].node);
---

<Layout>
	<Fragment slot="head">
		<link
			rel="preload"
			as="image"
			href={homepageData.homepageHeroImage.node.sourceUrl}
		/>
		<link
			rel="preload"
			as="image"
			href="/images/reflections-hero-home.svg"
		/>
		<link
			rel="preload"
			href="/fonts/Poppins-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/Poppins-SemiBold.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
	</Fragment>

	<main>
		<!-- SECTION HERO -->
		<section
			class="section-hero bg-radial-[at_50%_100%] from-invest-300 to-[#F77E33] relative pb-[40px] lg:pb-0"
		>
			<div class="grid lg:grid-cols-2">
				<div
					class="section-hero__image overflow-clip hidden lg:block relative z-10"
				>
					<div class="relative aspect-[948/1110]">
						<img
							class="absolute w-full h-full object-cover z-2"
							fetchpriority="high"
							src={homepageData.homepageHeroImage.node.sourceUrl}
							alt="ouvrier"
							width="948"
							height="1110"
						/>
					</div>
					<img
						class="absolute left-0 top-0 w-full h-full z-3"
						fetchpriority="high"
						src="/images/reflections-hero-home.svg"
						alt="ouvrier"
						width="948"
						height="1110"
					/>
					<div
						class="absolute left-0 top-0 w-full h-full z-4 bg-linear-180 from-dark-blue-950/32 to-dark-blue-950/0"
					>
					</div>
				</div>
				<div
					class="section-hero__content flex flex-col justify-center lg:pl-16 mt-[156px] lg:mt-0"
				>
					<div
						class="section-hero__title text-dark-blue-950"
						set:html={homepageData.homepageHeroTitle}
					/>
					<div
						class="section-hero__subtitle text-dark-blue-950 max-w-[27.7rem]"
						set:html={homepageData.homepageHeroDescription}
					/>
					<Button
						class="mt-6 lg:mt-10"
						variant="secondary"
						size="big"
						link={homepageData.homepageHeroLink?.url}
					>
						{homepageData.homepageHeroLink?.title}
					</Button>
				</div>
			</div>
			<img
				class="absolute w-full bottom-0 left-0 hidden lg:block pointer-events-none"
				src="/images/separator-bottom.svg"
				width="1920"
				height="64"
			/>
		</section>
		<div class="section-hero__image lg:hidden relative">
			<div
				class="section-hero__image-wrapper overflow-clip relative aspect-[374/284]"
			>
				<img
					class="absolute h-full w-full object-cover z-2"
					src={homepageData.homepageHeroImage.node.sourceUrl}
					alt="ouvrier"
					width="374"
					height="284"
				/>
			</div>
			<img
				class="absolute left-0 top-0 w-full h-full z-3"
				src="/images/reflections-hero-home-mobile.svg"
				alt="ouvrier"
				width="374"
				height="284"
			/>
			<div
				class="absolute left-0 top-0 w-full h-full z-4 bg-linear-180 from-dark-blue-950/32 to-dark-blue-950/0"
			>
			</div>
		</div>

		<!-- SECTION ACTUALITES -->
		<NewsHome
			client:visible
			content={homepageData.homepageNews}
		/>
	</main>
	<!-- SECTION POSITION GEOGRAPHIQUE -->

	<section
		class="section-geographical-position bg-dark-blue-950 pb-[96px] lg:pb-[155px] relative"
	>
		<!-- CTA MAGAZINE-->

		<div class="row -translate-y-1/10 lg:-translate-y-1/2">
			<div class="container">
				<div
					class="section-geographical-position__cta bg-dark-blue-900 p-8 lg:px-[8.43rem]"
				>
					<div class="lg:flex">
						<div class="lg:w-1/2">
							<div
								class="text-white section-geographical-position__cta-text font-medium"
							>
								{homepageData.homepageJeemTitle}
							</div>
							<Button
								class="mt-6"
								link={homepageData.homepageJeemLink.url}
								target={homepageData.homepageJeemLink.target}
							>
								{homepageData.homepageJeemLink.title}
							</Button>
						</div>
						<div class="relative lg:w-1/2 mt-10">
							<Image
								class="lg:absolute right-0 lg:-translate-x-1/3 lg:-translate-y-1/2 top-1/2 rotate-[4deg] md:w-[80%] lg:w-full"
								src={thumbnailVideo}
								alt="video magazine"
							/>
							<img
								class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 hover:scale-[1.1] transition-transform duration-300 easing-[var(--cubic)] cursor-pointer"
								src="/images/play-button.svg"
								alt=""
								loading="lazy"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--POSITION STRATEGIQUE-->

		<GeographicalStrategy
			client:visible
			title={homepageData.homepagePositionTitle}
			text={homepageData.homepagePositionText}
		/>

		<div class="row relative">
			<div class="container">
				<div class="flex flex-col lg:flex-row">
					<div
						class="w-full flex-1 flex items-center order-2 lg:order-1 mt-[64px] lg:mt-0"
					>
						<ul
							class="section-geographical-position__mission-list lg:pl-10"
						>
							{
								homepageData.homepagePositionMissions.map(
									(mission: any) => (
										<li class="section-geographical-position__mission text-grayscale-0 border-b-[1px] border-grayscale-0/24 last:border-b-0">
											<a
												class="flex justify-between items-center space-x-10"
												href={
													mission
														.homepagePositionMissionsLink
														.url
												}
											>
												<div class="flex items-center space-x-6 lg:space-x-10">
													<img
														class="section-geographical-position__icon"
														src={
															mission
																.homepagePositionMissionsIcon
																.node.sourceUrl
														}
														alt="icone"
														width="72"
														height="72"
														loading="lazy"
													/>{" "}
													<span class="font-medium">
														{
															mission.homepagePositionMissionsTitle
														}
													</span>
												</div>
												<img
													class="section-geographical-position__arrow justify-self-end"
													src="/images/arrow-right.svg"
													alt=""
													width="40"
													height="40"
													loading="lazy"
												/>
											</a>
										</li>
									),
								)
							}
						</ul>
					</div>
					<div class="flex-1 order-1 lg:order-2">
						<div class="relative">
							<div
								class="section-geographical-position__image-wrapper relative"
							>
								<img
									class="section-geographical-position__image absolute w-full h-full left-0 top-0 object-cover"
									src={homepageData.homepagePositionImage.node
										.sourceUrl}
									width="792"
									height="880"
									alt="position statégique"
									loading="lazy"
								/>
								<div
									class="section-geographical-position__filter-border absolute w-full h-full top-0 left-0 backdrop-blur-xs"
								>
								</div>
								<div
									class="section-geographical-position__filter-border-2 absolute w-full h-full top-0 left-0 mix-blend-hard-light"
								>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<img
			class="absolute w-full bottom-0 left-0 pointer-events-none"
			src="/images/separator-bottom.svg"
			alt=""
			width="1920"
			height="64"
			loading="lazy"
		/>
	</section>
	<!-- SECTION ACCOMPAGNEMENT -->

	<section class="section-accompaniement mt-16">
		<div class="row">
			<div
				class="section-accompaniement__marquee overflow-hidden relative"
			>
				<div
					class="section-accompaniement__marquee-inner flex space-x-10"
				>
					{
						homepageData.homepageCities
							.concat(homepageData.homepageCities)
							.map((city: any) => (
								<div class="section-accompaniement__marquee-item text-invest-500 font-medium shrink-0">
									{city.homepageCity}
								</div>
							))
					}
				</div>
			</div>
		</div>

		<div class="row mt-24">
			<div class="container">
				<div class="flex flex-col lg:flex-row space-x-20">
					<div class="w-full lg:w-1/2 relative">
						<div class="relative">
							<div class="section-accompaniement__image relative">
								<img
									class="absolute w-full h-full top-0 left-0 object-cover"
									src={homepageData
										.homepageAccompaniementImage.node
										.sourceUrl}
									alt="accompagnement"
									width="792"
									height="880"
									loading="lazy"
								/>
								<div
									class="section-accompaniement__filter-border absolute w-full h-full top-0 left-0 backdrop-blur-xs"
								>
								</div>
								<div
									class="section-accompaniement__filter-border-2 absolute w-full h-full top-0 left-0 mix-blend-hard-light"
								>
								</div>
							</div>
						</div>
						<div
							class="section-accompaniement__title text-dark-blue-950 font-medium lg:absolute top-10 right-0 lg:translate-x-[90%]"
						>
							{homepageData.homepageAccompaniementTitle}
						</div>
					</div>
					<div class="lg:w-1/2 lg:pl-[110px] flex items-end">
						<div
							class="section-accompaniement__content mb-20 mx-auto lg:mx-0"
						>
							<div
								class="section-accompaniement__text mt-10 lg:mt-0"
							>
								{homepageData.homepageAccompaniementDescription}
							</div>

							<Button
								class="mt-10"
								link={homepageData.homepageAccompaniementLink
									.url}
							>
								{homepageData.homepageAccompaniementLink.title}
							</Button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>
<style lang="scss">
	/* SECTION HERO */

	.section-hero {
		&__title {
			font-size: calc(33px + 33 * ((100vw - 390px) / 704));
			line-height: calc(36px + 36 * ((100vw - 390px) / 704));
			letter-spacing: calc(-24em / 1000);
			max-width: calc(300px + 300 * ((100vw - 390px) / 704));

			@media screen and (min-width: 1024px) {
				font-size: calc(32px + 32 * ((100vw - 961px) / 961));
				line-height: calc(32px + 32 * ((100vw - 961px) / 961));
				max-width: calc(366px + 366 * ((100vw - 961px) / 961));
			}
		}

		&__subtitle {
			font-size: calc(20px + 20 * ((100vw - 390px) / 704));
			line-height: calc(24px + 24 * ((100vw - 390px) / 704));
			margin-top: calc(16px + 16 * ((100vw - 390px) / 704));

			@media screen and (min-width: 1024px) {
				font-size: calc(15px + 15 * ((100vw - 961px) / 961));
				line-height: calc(18px + 18 * ((100vw - 961px) / 961));
				margin-top: calc(40px + 40 * ((100vw - 961px) / 961));
			}
		}

		&__image {
			clip-path: polygon(
				0% 0%,
				0% 90.845%,
				85.561% 100%,
				100% 85.915%,
				100% 0%
			);

			@media screen and (min-width: 1024px) {
				clip-path: polygon(100% 21.64%, 0% 0%, 0% 95.937%, 92.12% 100%);
			}
		}

		&__content {
			padding-inline: 1.5rem;

			@media screen and (min-width: 1024px) {
				padding-inline: 5rem;
			}
		}

		&__button {
			margin-top: calc(24px + 24 * ((100vw - 390px) / 704));

			@media screen and (min-width: 1024px) {
				margin-top: calc(20px + 20 * ((100vw - 961px) / 961));
			}
		}
	}

	/* SECTION POSITION GEOGRPAHIQUE  */

	.section-geographical-position {
		&__cta {
			padding-block: calc(32px + 32 * ((100vw - 390px) / 704));
			clip-path: inset(0% 0 16% 0);
			background-image: url("/images/bg-magazine-layer.svg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;

			@media screen and (min-width: 1024px) {
				padding-block: calc(32px + 32 * ((100vw - 961px) / 961));
			}

			@media screen and (min-width: 1024px) {
				clip-path: inset(-16% 0 0% 0);
			}

			& img {
				@media screen and (min-width: 1024px) {
					max-width: calc(192px + 192 * ((100vw - 961px) / 961));
				}
			}
		}

		&__cta-text {
			font-size: calc(24px + 24 * ((100vw - 390px) / 704));
			line-height: calc(26px + 26 * ((100vw - 390px) / 704));

			@media screen and (min-width: 1024px) {
				font-size: calc(16px + 16 * ((100vw - 961px) / 961));
				line-height: calc(20px + 20 * ((100vw - 961px) / 961));
				max-width: calc(240px + 240 * ((100vw - 961px) / 961));
			}
		}

		&__mission-list {
			@media screen and (min-width: 1024px) {
				max-width: calc(296px + 296 * ((100vw - 961px) / 961));
			}
		}

		&__mission {
			font-size: calc(18px + 18 * ((100vw - 390px) / 704));
			line-height: calc(24px + 24 * ((100vw - 390px) / 704));
			letter-spacing: calc(-24em / 1000);
			padding-block: calc(20px + 20 * ((100vw - 390px) / 704));

			@media screen and (min-width: 1024px) {
				font-size: calc(18px + 18 * ((100vw - 961px) / 961));
				line-height: calc(20px + 20 * ((100vw - 961px) / 961));
				padding-block: calc(20px + 20 * ((100vw - 961px) / 961));
			}

			& span {
				@media screen and (min-width: 1024px) {
					max-width: calc(190px + 190 * ((100vw - 961px) / 961));
				}
			}
		}

		&__icon {
			width: calc(64px + 64 * ((100vw - 390px) / 704));

			@media screen and (min-width: 1024px) {
				width: calc(36px + 36 * ((100vw - 961px) / 961));
			}
		}

		&__arrow {
			max-width: calc(64px + 64 * ((100vw - 768px) / 704));

			@media screen and (min-width: 1024px) {
				max-width: calc(20px + 20 * ((100vw - 961px) / 961));
			}
		}

		&__image-wrapper {
			aspect-ratio: 796 / 880;
			width: 100%;
			clip-path: polygon(
				97.923% 100%,
				1.923% 97.597%,
				0% -0.215%,
				100% -0.215%
			);
		}

		&__filter-border {
			// background: conic-gradient(from 45deg, rgba(238, 252, 253, 0.48) 0%, rgba(238, 252, 253, 0.62) 13.83%, rgba(238, 252, 253, 0) 22.31%, rgba(238, 252, 253, 0.64) 27.63%, rgba(238, 252, 253, 0.35) 52.26%, #eefcfd 58.66%, rgba(238, 252, 253, 0.22) 68.51%, #eefcfd 99.01%, rgba(238, 252, 253, 0.48) 100%);
			mask-image: url("../images/border.svg");
			mask-size: 100% 100%;
			mask-repeat: no-repeat;
			mask-position: center;
		}

		&__filter-border-2 {
			background: conic-gradient(
				from 148deg,
				rgba(238, 252, 253, 0.48) 0%,
				rgba(238, 252, 253, 0.62) 13.83%,
				rgba(238, 252, 253, 0) 22.31%,
				rgba(238, 252, 253, 0.64) 27.63%,
				rgba(238, 252, 253, 0.35) 52.26%,
				#eefcfd 58.66%,
				rgba(238, 252, 253, 0.22) 68.51%,
				#eefcfd 99.01%,
				rgba(238, 252, 253, 0.48) 100%
			);
			mask-image: url("../images/border.svg");
			mask-size: 100% 100%;
			mask-repeat: no-repeat;
			mask-position: center;
		}
	}

	/* SECTION ACCOMPAGNEMENT */

	.section-accompaniement {
		&__marquee {
			--offset: 20vw;
			--move-initial: calc(-50% + var(--offset));
			--move-final: calc(-100% + var(--offset));
		}

		&__marquee-inner {
			transform: translate3d(var(--move-initial), 0, 0);
			animation: marquee 15s linear infinite;
		}

		&__marquee-item {
			font-size: calc(32px + 32 * ((100vw - 390px) / 704));

			@media screen and (min-width: 768px) {
				font-size: calc(32px + 32 * ((100vw - 768px) / 256));
			}

			@media screen and (min-width: 1024px) {
				font-size: calc(20px + 20 * ((100vw - 961px) / 961));
			}
		}

		&__image {
			aspect-ratio: 796 / 880;
			clip-path: polygon(
				97.923% 100%,
				1.923% 97.597%,
				0% -0.215%,
				100% -0.215%
			);
		}

		&__title {
			font-size: calc(32px + 32 * ((100vw - 390px) / 704));
			max-width: calc(240px + 240 * ((100vw - 390px) / 704));
			line-height: calc(35px + 35 * ((100vw - 390px) / 704));
			letter-spacing: calc(-24em / 1000);

			@media screen and (min-width: 1024px) {
				font-size: calc(32px + 32 * ((100vw - 961px) / 961));
				max-width: calc(240px + 240 * ((100vw - 961px) / 961));
				line-height: calc(32px + 32 * ((100vw - 961px) / 961));
			}
		}

		&__content {
			max-width: calc(294px + 294 * ((100vw - 390px) / 704));

			@media screen and (min-width: 1024px) {
				max-width: calc(250px + 250 * ((100vw - 961px) / 961));
			}
		}

		&__text {
			font-size: calc(16px + 16 * ((100vw - 390px) / 704));
			line-height: calc(24px + 24 * ((100vw - 390px) / 704));

			@media screen and (min-width: 1024px) {
				font-size: calc(10px + 10 * ((100vw - 961px) / 961));
				line-height: calc(15px + 15 * ((100vw - 961px) / 961));
			}
		}

		&__filter-border {
			mask-image: url("../images/border.svg");
			mask-size: 100% 100%;
			mask-repeat: no-repeat;
			mask-position: center;
		}

		&__filter-border-2 {
			background: conic-gradient(
				from 148deg,
				rgba(238, 252, 253, 0.48) 0%,
				rgba(238, 252, 253, 0.62) 13.83%,
				rgba(238, 252, 253, 0) 22.31%,
				rgba(238, 252, 253, 0.64) 27.63%,
				rgba(238, 252, 253, 0.35) 52.26%,
				#eefcfd 58.66%,
				rgba(238, 252, 253, 0.22) 68.51%,
				#eefcfd 99.01%,
				rgba(238, 252, 253, 0.48) 100%
			);
			mask-image: url("../images/border.svg");
			mask-size: 100% 100%;
			mask-repeat: no-repeat;
			mask-position: center;
		}
	}

	@keyframes marquee {
		0% {
			transform: translate3d(var(--move-initial), 0, 0);
		}

		100% {
			transform: translate3d(var(--move-final), 0, 0);
		}
	}
</style>
